<% include ../header.ejs %>
<header>
    <h2>
        Ntalk - Agenda de contatos
    </h2>

    <section>
        <p>
            Bem-vindo <%- usuario.nome %>
        </p>
    </section>
</header>
<% include ../exit %>
<% include ../footer %>
