<% include ../header.ejs %>
<header>
    <h1>Ntalk</h1>
    <h4>Bem-vindo!</h4>
</header>

<section>
    <form action="/entrar" method="post">
        <input type="text" name="name" placeholder="Seu nome">
        <br>
        <input type="text" name="email" placeholder="Seu email">
        <br>
        <button type="submit">Entrar</button>
    </form>
</section>

<% include ../footer.ejs %>
