<% include ../header.ejs %>
<header>
    <h2>
        Ntalk - agenda de contatos
    </h2>
</header>

<section>
    <p>
        Bem-vindo <%- usuario.nome %>
    </p>
</section>
<% include ../exit%>
<% include ../footer.ejs %>
